/* ===== small phones ===== */
@media only screen and (max-width:480px){


}

/* ==== larger small phones ==== */
@media only screen and (max-width:768px){


}

/* ==== ipad and tablets==== */
@media only screen and (max-width:1023px){
    body{
        font-size: 18px;
    }
    section{
        padding: 60px 0;
    }
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    .steps-box{
        margin-top: 10px;
    }
    .steps-box:last-child{
        margin-top: 10px;
    }
    .works-steps{
        margin-bottom: 40px;
    }
    .works-step p{
        width:100%;
        font-size: 95%;
    }
    .works-steps:last-of-type{
        margin-bottom: 60px;
    }
    .btn-app img{
        display:inline;
      ;
        
    }
    .app-screen{
        width: 50%;
    }
    .city-feature i{ margin: 0;
    }
    .city-feature{
        font-size: 85%;
    }
}

/* === ipad and small computers */
@media only screen and (max-width:1200px){
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
      }
    .row{ padding: 0 2%; }
    
    
}