*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    background-color: rgb(244, 239, 223);
    font-family: Raleway, serif;
    font-size: 20px;
    font-weight: 400;
    color:beige
}

body{
   
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)),url(Omnifood%20Contents/hero.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    margin:10px 0;
    font-size: 240%;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    
    
}
.hero-text-box{
    
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    
}
.btn:link, :visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: bold;
    text-decoration: none;
    border:3px solid orange;
    color:beige;
    
}
.btn-full{
    background-color: orange;
    border-radius: 200px;
    
}
.btn-ghost{
    border-radius: 200px;
}



